h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    margin: 0;
}

h6 {
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

.textsmall-12px {
    font-size: 12px;
}

.textsmall-13px {
    font-size: 13px;
}

.textsmall-11px {
    font-size: 11px;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-300 {
    font-weight: 300;
}

.chevron-size {
    font-size: 17px;
}

.navbar-icon-size {
    font-size: 20px;
}

.navbar {
    padding: 20px 0px;
}

.nav-link {
    padding: 0px 14px;
}

body {
    background-color: #f0f5f8;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

header {
    background-color: #232d39;
}

.header-top {
    padding: 10px 14px;
}

.background-image-div {
    background-image: linear-gradient(88deg, #d41459, #911a6c);
    height: 450px;
}

.below-header {
    margin-top: -375px;
}

.sidebar1 {
    width: 285px;
}

.content-section {
    width: calc(100% - 280px);
}

.phone-number-color {
    color: #cf2c70;
}

.w-14 {
    width: 14%;
}

.w-51 {
    width: 51%;
}

.position-relative {
    position: relative;
}

.navbar-bottom-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.47)
}

.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #664eeb;
    border-radius: 50px;
    top: 0;
    right: 0;
}

.dot1 {
    background-color: #14c671;
    top: 18px;
    right: 17px;
    border: 1px solid white;
}

.dot2 {
    background-color: #fa424a;
    top: 2px;
    right: -35px;
    border: 1px solid white;
    width: 18px;
    height: 18px;
}

.card-padding {
    padding: 20px 30px;
}

.sidebar1 a {
    text-decoration: none;
}

.header-top a {
    text-decoration: none;
}

.sidebar1 ul li a {
    display: block;
}

.sidebar1 ul li a:hover {
    background-color: #f0f5f8;
}

.sidebar1 ul,
.sidebar2 ul,
.traffic-report ul,
.activity ul li {
    list-style-type: none;
}

.text-black {
    color: #121212;
}

.text-grey {
    color: #d4d4d4;
}

.card-padding1 {
    padding: 20px 8px 20px 20px;
}

.sidebar-card-padding {
    padding: 24px 24px;
}

.bg-black {
    background-color: #000000;
}

.padding-activity {
    padding: 10px 0px;
}

.image-width-height {
    width: 35px;
    height: 35px;
    border-radius: 50px;
}

.sidebar-image-width-height {
    width: 40px;
    height: 40px;
}

.display-inline-block span {
    display: inline-block;
}

.revenue-orders span {
    display: inline-block;
}

.revenue-orders a[aria-expanded="true"] #chevron-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.revenue-orders a[aria-expanded="true"] {
    background-color: #f0f5f8;
    border-radius: 10px 10px 0px 0px;
}

.padding-chevron {
    padding-right: 0px;
}

.bg-sidebar-dropdown {
    background-color: #f0f5f8;
    border-radius: 0px 0px 10px 10px;
}

.revenue-orders ul li {
    position: relative;
}

.revenue-orders ul li:before {
    content: "";
    position: absolute;
    top: 12px;
    left: -24px;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    color: #006b6e;
    background: #f0f5f8;
    border: 2px solid #979797;
}

.padding-customize {
    padding: 11px 50px;
    border: none;
    margin-left: 15px;
}

.margin-top-content {
    margin-top: 130px;
}

.margin-top-sidebar1 {
    margin-top: 160px;
}

.traffic-report ul li {
    position: relative;
}

.traffic-report ul li:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -18px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
}

.marginhr {
    margin: 0px -25px;
}

.traffic-report ul li:nth-child(1):before {
    background-color: #664eeb;
}

.traffic-report ul li:nth-child(2):before {
    background-color: #14c671;
}

.traffic-report ul li:nth-child(3):before {
    background-color: #ffb400;
}

.clear {
    clear: both;
}

.li-border {
    border-bottom: 1px solid rgba(55, 55, 55, 0.7)
}

.color-white {
    color: white;
}

.bg-info {
    background-color: #664eeb;
}

.padding-status {
    padding: 0px 0px 0px 0px;
}

.badge-padding {
    padding: 25px 0px;
}

.w-48 {
    width: 48%;
}

.w-34 {
    width: 34%;
}

.icon-font-size {
    font-size: 18px;
}

.margin-content-top {
    margin-top: 100px;
}

.text-small-10px {
    font-size: 10px;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 2px solid #d4d4d4;
    border-radius: 10%;
    cursor: pointer;
    height: 15px;
    left: 2px;
    position: absolute;
    top: 6px;
    width: 15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 1px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 10px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #027bff;
    border-color: #027bff;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.container {
    width: 18%;
}

.orange div p,
.green div p,
.red div p {
    position: relative;
}

.orange div p:before,
.green div p:before,
.red div p:before {
    color: #006b6e;
    content: "";
    position: absolute;
    top: 4;
    left: -18px;
    background: white;
    border-radius: 100%;
    width: 11px;
    height: 11px;
}

.orange div p:before {
    border: 2px solid #ffb400;
}

.green div p:before {
    border: 2px solid #14c671;
}

.red div p:before {
    border: 2px solid #fa424a
}

.mychart-3 {
    width: 80px;
}

.padding-navbar {
    padding-left: 134px;
}

.date-border {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.traffic-report ul {
    padding: 0px 0px 0px 20px;
}

.icon-font-size-badge {
    font-size: 38px;
}

.searchform {
    position: relative;
    width: 200px;
    text-align: right;
}

.searchfield {
    width: 0;
    border: none;
    position: absolute;
    right: 32px;
    top: -4px;
    background-color: rgba(55, 55, 55, 0);
}

.searchfield1 {
    width: 80%;
    transition: 1s;
    border-bottom: 1px solid #d4d4d4;
    outline: none;
    background-color: rgba(55, 55, 55, 0);
    color: white;
}

.placeholder-fontsize {
    font-size: 13px;
}

.content-section a {
    text-decoration: none;
}

.padding-reports {
    padding: 10px 0px 15px 42px;
}

.color-dgrey {
    color: #706f6f;
}

.slider.ui-slider {
    border-radius: 20px;
    border: none;
    height: 12px;
    background: #027bff;
}

.padding-dot2 {
    padding: 3px 0px 0px 6px
}

.sidebar-icon {
    font-size: 18px;
}

.card {
    border-radius: 8px;
}

::placeholder {
    color: white;
}


/* .slider.ui-slider-float {
   
} */

.slider .ui-slider-handle {
    border-radius: 23px;
    height: 23px;
    width: 23px;
    border: 2px solid #fffaf7;
}

.slider .ui-slider-tip {
    background: #027bff;
    color: white;
}

.slider1 .ui-slider-tip {
    background: #027bff;
    color: white;
}

.slider1.ui-slider {
    border-radius: 20px;
    background: #027bff;
    border: none;
    height: 12px;
}

.slider1 .ui-slider-handle {
    border-radius: 23px;
    height: 23px;
    width: 23px;
    border: 2px solid #fffaf7;
}

.slider .ui-slider-pip {
    font-size: 12px;
    top: 13px;
}

.slider1 .ui-slider-pip {
    font-size: 12px;
    top: 13px;
}

.slider .ui-slider-pip .ui-slider-line {
    height: 8px;
}

.slider1 .ui-slider-pip .ui-slider-line {
    height: 8px;
}

.slider .ui-slider-pip .ui-slider-label {
    top: 15px;
    display: none;
}

.slider1 .ui-slider-pip .ui-slider-label {
    top: 18px;
    display: none;
}

.slider .ui-slider-pip:nth-of-type(2n) .ui-slider-line {
    height: 12px;
}

.slider .ui-slider-pip:nth-of-type(4n+2) .ui-slider-label {
    display: block;
}

.slider1 .ui-slider-pip:nth-of-type(2n) .ui-slider-line {
    height: 12px;
}

.slider1 .ui-slider-pip:nth-of-type(2n) .ui-slider-label {
    display: block;
}

.margin-slider {
    margin-top: 40px;
}

.margin-slider1 {
    margin-top: 58px;
}

.slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line {
    margin-left: -5px;
}

.slider1 .ui-slider-pip.ui-slider-pip-last .ui-slider-line {
    margin-left: -5px;
}

.table td {
    vertical-align: middle;
}

.activity-card ul li {
    width: 100%;
}

.card-padding1 {
    padding: 10px 30px;
}

.current-project-menu {
    top: 50px;
    left: 33px;
}

.project-management-menu {
    top: 39;
    left: 33px;
}

@media(min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 12px;
        margin: 0;
    }
    .sidebar1 {
        display: none;
    }
    .content-section {
        width: 100%;
    }
    .margin-content-top {
        margin-top: 0px;
    }
    .card-padding {
        padding: 20px 18px;
    }
    .w-34 {
        width: 49%;
    }
    .below-header {
        margin: -375px 20px 0px 30px;
    }
    .badge-padding {
        padding: 20px 0px;
    }
    .activity-card ul li {
        width: 33%;
        float: left;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 12px;
    }
    h6 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
        margin: 0;
    }
    .sidebar1 {
        display: none;
    }
    .content-section {
        width: 100%;
    }
    .margin-content-top {
        margin-top: 0px;
    }
    /* .card-padding {
        padding: 12px 17px;
    } */
    .w-34 {
        width: 49%;
    }
    .below-header {
        margin: -390px 30px 0px 15px;
    }
}


}